<div class="footer-container">
    <div class="footer-container-inner">
        <footer id="footer" class="container">
            <div class="row">	<!-- MODULE Block footer -->
                <section class="footer-block col-xs-12 col-sm-3" id="block_various_links_footer">
                    <h4>Nuestros Cursos</h4>
                    <ul class="toggle-footer-se">
                        <li class="item"><a href="#" title="Web Developmen">Web Development</a></li>
                        <li class="item"><a href="#" title="Computer Engineering">Computer Engineering</a></li>
                        <li class="item"><a href="#" title="Graphics Design">Graphics Design</a></li>
                        <li class="item"><a href="#" title="Software Development">Software Development</a></li>
                        <li class="item"><a href="#" title="Advance WordPress">Advance WordPress</a></li>
                    </ul>
                </section>
                <div class="bottom-footer">
    
            </div>
                <!-- /MODULE Block footer -->
        <!-- Block myaccount module -->
        <section class="footer-block col-xs-12 col-sm-3">
            <h4>&nbsp;</h4>
            <div class="block_content toggle-footer">
                <ul class="toggle-footer-se">
                    <li class="item"><a href="#" title="Business Studies">Business Studies</a></li>
                    <li class="item"><a href="#" title="English Learning">English Learning</a></li>
                    <li class="item"><a href="#" title="Graphics Design">Graphics Design</a></li>
                    <li class="item"><a href="#" title="Color Combinations">Color Combinations</a></li>
                    <li class="item"><a href="#" title="Photography">Photography</a></li>
                </ul>
            </div>
        </section>
        <!-- /Block myaccount module -->
        <!-- Block categories module -->
        <section class="blockcategories_footer footer-block col-xs-12 col-sm-3">
            <h4>Categorías</h4>
            <div class="category_footer toggle-footer">
                <div class="list">
                    <ul class="toggle-footer-se">
                        <li><a href="#" title="Biographies">Biographies</a></li>
                        <li><a href="#" title="Business">Business</a></li>
                        <li><a href="#" title="Education">Education</a></li>
                        <li><a href="#" title="History">History</a></li>
                        <li><a href="#" title="Classic">test</a></li>
                    </ul>
                </div>
            </div> <!-- .category_footer -->
        </section>
        <!-- /Block categories module -->
        <!-- Block Newsletter module-->
        <section class="blockcategories_footer footer-block col-xs-12 col-sm-3">
            <div id="newsletter_block_left" class="block">
                <h4>Boletín</h4>
                <div class="block_content">
                    <form action="" method="post">
                        <div class="form-group">
                            <input class="inputNew form-control grey newsletter-input" id="newsletter-input" type="text" name="email" size="18" value="Introduzca su E-Mail">
                            <button type="submit" name="submitNewsletter" class="btn btn-default btn-sm">
                                <span>OK</span>
                            </button>
                            <input type="hidden" name="action" value="0">
                        </div>
                    </form>
                </div>
            </div>
            <br />
            <div class="block">
                <h4>Síganos</h4>
                <ul>
                    <li class="facebook">
                        <a target="_blank" href="https://www.facebook.com/prestashop" title="Facebook">
                            <span>Facebook</span>
                        </a>
                    </li>
                                    <li class="twitter">
                        <a target="_blank" href="https://www.twitter.com/prestashop" title="Twitter">
                            <span>Twitter</span>
                        </a>
                    </li>
                                                    <li class="google-plus">
                        <a target="_blank" href="https://www.google.com/+prestashop" title="Google Plus">
                            <span>Google Plus</span>
                        </a>
                    </li>
                </ul>
            </div>
        </section>
        <!-- /Block Newsletter module-->

        <div id="gear-right" style="left: 0px;">
            <i class="fa fa-cogs icon-2x icon-light"></i>
        </div>
        <noscript><a href="https://www.olark.com/site//contact" title="Contact us" target="_blank">Questions? Feedback?</a> powered by <a href="https://www.olark.com?welcome" title="Olark live chat software">Olark live chat software</a></noscript>
<!-- end olark code --></div>
                    </footer>
    </div>
    <footer class="footer">
        <div class="container">
            <span class="text-muted">Derechos reservados 2021 Marco Reyes</span>
        </div>
    </footer>
</div>