<div class="sc-bHwgHz fhFubk feature feature--left gtm-feature--left">
    <div class="sc-ksYbfQ hjuUgH sc-krDsej hidLAD">
        <div class="sc-hmzhuo gLRONJ">
            <div class="sc-eMigcr glaFBQ feature__img-container">
                <picture class="sc-gipzik uKEIp">
                    <source media="(min-width: 64em)" srcset="https://webassets.sdl.com/es/Images/404_tcm217-155645.png"><img srcset="https://webassets.sdl.com/es/Images/404_tcm217-155645.png" src="https://webassets.sdl.com/es/Images/404_tcm217-155645.png" alt="" class="sc-csuQGl evtkji">
                </picture>
            </div>
            <div class="sc-fzsDOv bCwhDI feature-content gtm-feature--left__content">
                <h1 class="sc-kUaPvJ fPDQxi">Error 404 - Página no encontrada</h1>
                <div class="sc-gPWkxV cWFxQg rich-text">No se ha podido encontrar la página que buscabas. Utiliza el siguiente botón para volver a la página de inicio.</div><a class="gtm-feature--left__link" href="/"><span class="sc-jzJRlG hFYYBx link">Inicio</span></a>
            </div>
        </div>
    </div>
</div>